a {
    color: orange
}
a:hover{
    color: blue;
}
.stock {
    color: green;
}
.add {
    background-color: rgb(248, 192, 8);
    margin-right: 15px;
    height: 30px;
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 105px;
    transition: 1s;
} 
button {
    background-color: rgb(240, 134, 13);
    height: 30px;
    border: none;
    border-radius:15px;
    height: 35px;
    width: 105px;
    transition: 1s;
}
.add:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 10px black;
}
button:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 10px black;
}
